// Windows resource file for application icon
// Icon with ID 1 is used as the application icon

#include <windows.h>

// Application icon - ID 1 is the default for exe icon
1 ICON "icon.ico"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "VibeXML"
            VALUE "FileDescription", "XML Viewer Application"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "XmlViewer"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "XmlViewer.exe"
            VALUE "ProductName", "XML Viewer"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

